.company-registration input {
    font-size: 12px;
}

.company-registration textarea {
    font-size: 12px;
}

.company-registration select {
    font-size: 12px;
}

.company-registration select option {
    font-size: 12px;
}

.step-1-btn {
    display: flex;
    align-items: center;
    justify-content: center;
}