.company-login-right {
    width: 800px;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    margin-bottom: 1rem;
    margin-top: 1rem;
    border-radius: .4rem;
}

.digilocker-btn {
    outline: none;
    border: 1px solid var(--button-color);
    background-color: var(--secondary-color);
    color: var(--button-text-color);
    padding: 6px 0;
    border-radius: 4px;
}

.custom-form {
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
}

.form-row {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-bottom: 20px;
}

.form-group {
    flex: 1;
    min-width: 220px;
    display: flex;
    flex-direction: column;
}

.form-group.full-width {
    flex: 100%;
}

input,
select,
textarea {
    padding: 10px;
    font-size: 16px;
    border-radius: 8px;
    border: 1px solid #ccc;
    margin-top: 5px;
    outline: none;
}

textarea {
    resize: vertical;
    min-height: 40px;
}

.custom-btn {
    padding: 10px 18px;
    border: none;
    border-radius: 6px;
    font-size: 14px;
    cursor: pointer;
    background-color: var(--button-color);
    color: var(--button-text-color);
}

.custom-btn.primary {
    background-color: #007bff;
    color: white;
}

.custom-btn.secondary {
    background-color: #6c757d;
    color: white;
}

.custom-btn.full-width {
    width: 100%;
}

.action-buttons {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.action-buttons button {
    width: 50%;
}

/* Responsive */
@media (max-width: 768px) {
    .form-row {
        flex-direction: column;
    }

    .action-buttons {
        flex-direction: column;
    }

    .custom-btn.full-width {
        width: 100%;
    }
}